ATEATE_SERVICE_EMAIL=88ateate@gmail.com
AATEATE_SERVICE_PASSWORD=your_16_char_app_password
AATEATE_GATEWAY_EMAIL=tamaniyawaatamanun@gmail.com
AATEATE_SERIAL=71022022501038
AATEATE_BUILD=vnd_tb8168p1_bsp1719265278
AATEATE_IP=172.31.56.148